<meta charset="UTF-8" />

<div th:fragment="administrator">
   
	   <a id="logo-container" class="brand-logo">DipTrack</a>
	            <ul class="right hide-on-med-and-down">
	                <li><a th:href="@{/etudiant/noteEtudiant.html}"><i class="material-icons">assessment</i></a></li>
	                <li><a href="#"><i class="material-icons">email</i></a></li>
	                <li><a href="#"><i class="material-icons">settings</i></a></li>
	                <li><a th:href="@{/logout}"><i class="material-icons">power_settings_new</i></a></li>
	            </ul>
	
	            <ul  class="side-nav">
	                <li><a th:href="@{/etudiant/noteEtudiant.html}"><i class="material-icons">assessment</i>Mes Notes</a></li>
	                <li><a href="#"><i class="material-icons">email</i>Messagerie</a></li>
	                <li><a href="#"><i class="material-icons">settings</i>Paramètres</a></li>
	                <li><a th:href="@{/logout}"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
	            </ul>
</div>