<meta charset="UTF-8" />

<div th:fragment="responsible">
   
		<a th:href="@{/responsable/homePageResponsible.html}" id="logo-container" class="brand-logo tooltipped"
		data-position="bottom" data-delay="50" data-tooltip="Accueil">DipTrack</a>
       <ul class="right hide-on-med-and-down">
           
           <li><a class="tooltipped" th:href="@{/responsable/gestionClasse.html}" 
           data-position="bottom" data-delay="50" data-tooltip="Gérer mes classes"><i class="material-icons">note_add</i></a></li>
           
           <li><a class="tooltipped" th:href="@{/responsable/gestionFiliere.html}" 
           data-position="bottom" data-delay="50" data-tooltip="Créer une filière"><i class="material-icons">library_add</i></a></li>
           
           <li><a class="tooltipped" th:href="@{/responsable/attribuerMatiere.html}" 
           data-position="bottom" data-delay="50" data-tooltip="Attribuer une matière"><i class="material-icons">playlist_add</i></a></li>
            
           <li><a class="tooltipped" th:href="@{/logout}"
           data-position="bottom" data-delay="50" data-tooltip="Déconnexion">
           <i class="material-icons">power_settings_new</i></a></li>
       </ul>
       <ul class="side-nav">
            <li><a th:href="@{/responsable/gestionClasse.html}"><i class="material-icons">note_add</i>Mes Classes</a></li>
            <li><a th:href="@{/responsable/gestionFiliere.html}"><i class="material-icons">library_add</i>Mes Filières</a></li>
            <li><a th:href="@{/responsable/attribuerMatiere.html}"><i class="material-icons">playlist_add</i>Attribuer une matière</a></li>
            <li><a th:href="@{/logout}"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
        </ul>
</div>
