<meta charset="UTF-8" />

<div th:fragment="teacher">
   
	   <a th:href="@{/enseignant/homePageTeacher.html}" id="logo-container" class="brand-logo">DipTrack</a>
	            <ul class="right hide-on-med-and-down">
	                
	                <li><a class="tooltipped" th:href="@{/enseignant/noteGradeManagement.html}" 
	                data-position="bottom" data-delay="50" data-tooltip="Publier mes notes"><i class="material-icons">add_alert</i></a></li>
	                
	                <li><a class="tooltipped" th:href="@{/logout}"
	                data-position="bottom" data-delay="50" data-tooltip="Déconnexion">
	                <i class="material-icons">power_settings_new</i></a></li>
	            </ul>
	
	            <ul  class="side-nav">
	                <li><a th:href="@{/enseignant/noteGradeManagement.html}"><i class="material-icons">assessment</i>Publier mes notes</a></li>
	                <li><a th:href="@{/logout}"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
	            </ul>
</div>