<meta charset="UTF-8" />

<div th:fragment="teacher">
   
	   <a th:href="@{/enseignant/homePageTeacher.html}" id="logo-container" class="brand-logo">DipTrack</a>
	            <ul class="right hide-on-med-and-down">
	                
	                <li><a class="tooltipped" th:href="@{/enseignant/noteGradeManagement.html}" 
	                data-position="bottom" data-delay="50" data-tooltip="Ma classe"><i class="material-icons">assessment</i></a></li>
	                
	                <li><a class="tooltipped" th:href="@{/enseignant/attribuerMatiere.html}" 
           			data-position="bottom" data-delay="50" data-tooltip="Attribuer une Classe"><i class="material-icons">library_add</i></a></li>
	                
	                <li><a class="tooltipped" th:href="@{/logout}"
	                data-position="bottom" data-delay="50" data-tooltip="Déconnexion">
	                <i class="material-icons">power_settings_new</i></a></li>
	            </ul>
	
	            <ul  class="side-nav">
	                <li><a th:href="@{/etudiant/noteEtudiant.html}"><i class="material-icons">assessment</i>Mes Classes</a></li>
	                <li><a th:href="@{/etudiant/attribuerMatiere.html}"><i class="material-icons">library_add</i>Attribuer une matiere</a></li>
	                <li><a th:href="@{/logout}"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
	            </ul>
</div>