<!DOCTYPE html>
<html >

<head>

    <div th:replace="/include/header :: header"></div>
    <title>Gestion des comptes</title>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/gestionCompte.css}" />
</head>

<body>
    <header>
        <div th:replace="/include/nav :: nav"></div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div id="tabCompte" class="col s12">
                	<p id="currentUser" th:attr="data-user=${#authentication.name}" style="display:none;"></p>
                    <table class="bordered striped highlight centered responsive-table">
                        <thead>
                            <tr>
                                <th>Type de compte</th>
                                <th>Adresse Email</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Date de naissance</th>
                                <th>Numero étudiant</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="compte : ${listeComptes}">
                                <td th:text="${compte.role}">Administrateur</td>
                                <td th:text="${compte.mail}">admin@hotmail.fr</td>
                                <td th:text="${compte.nom}">Dalton</td>
                                <td th:text="${compte.prenom}">Joe</td>
                                <td th:text="${compte.dateDeNaissance}">21 Mai 1994</td>
                                <td th:text="${compte.numeroEtudiant}">20172000</td>
                                <td><i class="small material-icons deleteIcon" th:attr="data-mail=${compte.mail}">clear</i></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a class="waves-effect waves-light btn col s10 offset-s1" th:href="@{/administrateur/creerCompte.html}">Créer un compte</a>
                </div>
            </div>
            <div class="row">
           		<div th:replace="/include/pagination :: pagination">
            </div>
            </div>
        </div>
    </main>
    <div th:replace="/include/script :: script"></div>
    <footer>
        <div th:replace="/include/footer :: footer"></div>
    </footer>
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/gestionCompte.js}"></script>
</body>

</html>