<meta charset="UTF-8" />

<div class="col s12 offset-s3" id="popupContact" th:fragment="modifierClasse">

		<form th:action="@{/responsable/creerClasse.html}" th:object="${classe}" method="post" >
		
			<img src="images/3.png" id="close" onclick ="div_hide()" />
			<h4  class="header center teal-text text-lighten-2">Modifier la classe</h4>
			
			<input type="text" name="nom" id="nom" placeholder="nom"/>
			
			<input type="text" name="formation" id="formation" placeholder="formation"/>
			
			<input type="text" name="niveau" id="niveau" placeholder="niveau"/>
			
			<a class="waves-effect waves-light btn col s10 offset-s1" id="submit">Modifier la classe</a>
			
			<p><span>Note :</span> Vous êtes dans l'obligation d'être content !</p>
			
		</form>

</div>
