<div class="col s12 offset-s3" th:fragment="pagination">
    <th:block>
        <ul class="pagination">
            <th:block th:if="${currentIndex == 1}">
                <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            </th:block>
            <th:block th:unless="${currentIndex == 1}">
                <li class="waves-effect"><a th:href="@{/administrateur/gestionCompte.html(pageNumber=${currentIndex-1})}" href="#"><i class="material-icons">chevron_left</i></a></li>
            </th:block>
            <th:block th:each="i : ${#numbers.sequence( 1, endIndex, 1)}">
            	<th:block th:if="${currentIndex == i}">
            		<li class="active waves-effect"><a th:href="@{/administrateur/gestionCompte.html(pageNumber=${i})}" th:text="${i}"></a></li>
            	</th:block>
            	<th:block th:unless="${currentIndex == i}">
            		<li class="waves-effect"><a th:href="@{/administrateur/gestionCompte.html(pageNumber=${i})}" th:text="${i}"></a></li>
            	</th:block>
    		</th:block>
    		<th:block th:if="${currentIndex == endIndex}">
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
            </th:block>
            <th:block th:unless="${currentIndex == endIndex}">
                <li class="waves-effect"><a th:href="@{/administrateur/gestionCompte.html(pageNumber=${currentIndex+1})}" href="#"><i class="material-icons">chevron_right</i></a></li>
            </th:block>
    		
        </ul>
    </th:block>
   
</div>