<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:include="/include/header :: header"></head>
	<title>Accueil</title>
	<meta charset="UTF-8"/>
</head>

<body>
  
	<fragment th:include="/include/nav :: nav"></fragment>
  
	<div class="container">
		<br />
		<h2 class="header center teal-text text-lighten-2">Home Sweet Home</h2>
		<br />
	</div>


	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 m3">
					<h5>Moyenne</h5>
					<br />
					<h5>Prochain Partiel</h5>
					<br />
					<h5>Date du Prochain Partiel</h5>
					<br />
				</div>

				<div class="col s12 m4">
         			<h5>12</h5>
					<br />
					<h5>Base de données</h5>
					<br />
					<h5>09/02/2017</h5>
					<br />
				</div>
			</div>
		</div>
	</div>

	<fragment th:include="/include/script :: script"></fragment> 
	
	<footer class="page-footer white">
		<div>
			Copyright © 2017  <a class="brown-text text-lighten-3" href="https://www.google.com">Bougly Compagny</a>
		</div>
	</footer>

</body>
</html>
