<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<head th:include="/include/header :: header"></head>
	<title>Accueil</title>
	<meta charset="UTF-8"/>
</head>

<body>
  
	<nav class="#b2dfdb teal lighten-3" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="index.html" class="brand-logo">Bougly</a>
			<ul class="right hide-on-med-and-down">
				<li><a th:href="@{/etudiant/noteEtudiant.html}"><i class="material-icons">assessment</i></a></li>
				<li><a href="#"><i class="material-icons">email</i></a></li>
				<li><a href="#" ><i class="material-icons">settings</i></a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="#"><i class="material-icons">assessment</i>Mes Notes</a></li>
				<li><a href="#"><i class="material-icons">email</i>Messagerie</a></li>
				<li><a href="#"><i class="material-icons">settings</i>Paramètres</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse black-text text-darken-2"><i class="material-icons">menu</i></a>
		</div>
	</nav>
  
	<div class="container">
		<br />
		<h2 class="header center teal-text text-lighten-2">Home Sweet Home</h2>
		<br />
	</div>


	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 m3">
					<h5>Moyenne</h5>
					<br />
					<h5>Prochain Partiel</h5>
					<br />
					<h5>Date du Prochain Partiel</h5>
					<br />
				</div>

				<div class="col s12 m4">
         			<h5>12</h5>
					<br />
					<h5>Base de données</h5>
					<br />
					<h5>09/02/2017</h5>
					<br />
				</div>
			</div>
		</div>
	</div>
			<!-- Scripts-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/materialize.js}" ></script>
	<script type="text/javascript" th:src="@{/js/materialize.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/init.js}"></script>
</body>

<footer class="page-footer white">

<!--
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Company Bio</h5>
				<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Settings</h5>
				<ul>
					<li><a class="white-text" href="#!">Link 1</a></li>
					<li><a class="white-text" href="#!">Link 2</a></li>
					<li><a class="white-text" href="#!">Link 3</a></li>
					<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
			
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li><a class="white-text" href="#!">Link 1</a></li>
					<li><a class="white-text" href="#!">Link 2</a></li>
					<li><a class="white-text" href="#!">Link 3</a></li>
					<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
-->
		
	<div>
		Copyright © 2017  <a class="brown-text text-lighten-3" href="https://www.google.com">Bougly Compagny</a>
	</div>
</footer>

</html>
