<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/include/header :: header"></div>
    <title>Compte activé</title>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/login.css}" />
    
</head>

<body>
    <main>
        <div class="container">
	        <div class="row">
		       <h4 class="center-align">Félicitation. Votre compte est activé !</h4>
		       <h4 class="center-align">Vous allez être redirigé vers la page de connexion dans :</h4>
		       <div id="gj-counter-box">
		       		<h2 id="gj-counter-num" class="center-align"></h2>
		       </div>
			</div>
		</div>
    </main>
    <div th:replace="/include/script :: script"></div>
        <script type="text/javascript" th:src="@{/js/creerMdp.js}"></script>
    	<script type="text/javascript" th:src="@{/js/compteActive.js}"></script>
    	
    <footer>
        <div th:replace="/include/footer :: footer"></div>
    </footer>
</body>

</html>