<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/include/header :: header"></div>
    <title>Créer une classe</title>
    <meta charset="UTF-8" />

	<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection" />
	
</head>

<body>
    <header>
        <div th:replace="/include/nav :: nav"></div>
    </header>

    <main>
        <div class="container">
            <h3  class="header center teal-text text-lighten-2">Créer une classe</h3>
            <div class="row"> 
                <form th:action="@{/responsable/creerClasse.html}" th:object="${classe}" method="post">
                    
                    <div class="input-field col s6">
                            <input id="nom" placeholder="Ex : MIAGE" type="text" th:field="*{nom}" required="true"  />
                            <label for="nom" data-error="Invalide" data-success="Valide">Nom <span class="required">*</span></label>
                    </div>

                    <div class="input-field col s6">
                        <select th:field="*{niveau}" required="true">
                        <option th:each="niveau : ${listeNiveaux}" th:value="${niveau}" th:text="${niveau}"></option>
                        </select>
                        <label>Niveau de formation</label>
                    </div>

                    <div class="input-field col s6">
                        <select th:field="*{formation}" required="true">
                        <option th:each="formation : ${listeFormations}" th:value="${formation}" th:text="${formation}"></option>
                        </select>
                        <label>Type de formation</label>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <a class="waves-effect waves-light btn col s5" th:href="@{/responsable/gestionClasse.html}">Retour</a>
                            <button id="submitButton" class="btn waves-effect waves-light col s5 offset-s2" type="submit">Créer la classe</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>

    <div th:replace="/include/script :: script"></div>
    <script type="text/javascript" th:src="@{/js/creerClasse.js}"></script>

    <footer>
        <div th:replace="/include/footer :: footer"></div>
    </footer>
</body>

</html>