<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <head th:include="/include/header :: header"></head>
    <title>Créer compte</title>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/creerCompte.css}" />

</head>

<body>
    <header th:include="/include/nav :: nav" />
    <main>
        <div class="container">
            <div class="row">
                <form class="col s12" th:action="@{/administrateur/creerCompte.html}" th:object="${compte}" method="post">
                <input type="hidden"  th:field="*{role}"  />
                    <div class="row">
               			<div class="input-field col s12">
		                    <select>
		                    	<option value="Etudiant" selected="selected">Etudiant</option>
		                        <option value="Administrateur">Administrateur</option>
		                        <option value="Responsable">Responsable</option>
		                        <option value="Enseignant">Enseignant</option>
		                    </select>
		                    <label>Listes des roles</label>
		                </div>
		            </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input class="validate" placeholder="Ex : adresse@mail.fr" type="email" th:field="*{mail}" />
                            <label for="mail">Mail</label>
                        </div>
                        <div class="input-field col s6">
                            <input class="validate" placeholder="Ex : Doe" type="text" th:field="*{nom}" />
                            <label for="nom">Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input class="validate" placeholder="Ex : John" type="text" th:field="*{prenom}" />
                            <label for="prenom">Prenom</label>
                        </div>
                        <div class="input-field col s6">
                            <label class="date active" for="dateDeNaissance">Date de naisssance</label>
                            <input class="validate" type="date" placeholder="Ex : 01/01/2017" th:field="*{dateDeNaissance}" />
                        </div>
                        <div class="inputNumEtu input-field col s6">
                            <input class="validate " placeholder="Ex : 20172345" type="number" th:field="*{numeroEtudiant}" />
                            <label for="numeroEtudiant">Numero étudiant</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light col s10 offset-s1" type="submit">Créer compte</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <fragment th:include="/include/script :: script"></fragment>
    <script type="text/javascript" th:src="@{/js/creerCompte.js}"></script>
</body>

</html>