<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/include/header :: header"></div>
    <title>Créer compte</title>
    <meta charset="UTF-8" />
</head>

<body>
    <header>
        <div th:replace="/include/nav :: nav"></div>
    </header>
    <main>
        <div class="container">
      	  <h3  class="header center teal-text text-lighten-2">Créer un compte</h3>
            <div class="row">
                <form class="col s12" th:action="@{/administrateur/creerCompte.html}" th:object="${accountDto}" method="post">
                    <div th:if="${mailExist != null || studentNumberExist != null}" class="row">
                        <div class="collection center" style="border-color: red;">
                        	<a th:if="${mailExist} != null" class="collection-item red-text text">Le compte <b><span th:text="${mail}"></span></b> existe déjà.</a>
                        	<a th:if="${studentNumberExist} != null" class="collection-item red-text text">Le numéro étudiant <b><span th:text="${studentNumber}"></span></b> existe déjà.</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                        	<select th:field="*{role}">
								<option th:each="role : ${allRoles}" th:value="${role}" th:text="${role}">Wireframe</option>
							</select>
                            <label>Roles</label>
                        </div>
                    </div>
	                    <div class="row">
	                        <div class="input-field col s6">
	                            <label for="mail">Mail <span class="required">*</span></label>
	                            <input id="email" class="" placeholder="Ex : adresse@mail.fr" type="text" th:field="*{mail}"/>
	                        </div>
	                        <div class="input-field col s6">
	                            <label for="nom">Nom <span class="required">*</span></label>
	                            <input name="nom" class="" placeholder="Ex : Doe" type="text" th:field="*{lastName}"/>
	                        </div>
	                   	</div>
	                   	<div class="row">
	                        <div class="input-field col s6">
	                            <label for="prenom">Prénom <span class="required">*</span></label>
	                            <input name="prenom" class="" placeholder="Ex : John" type="text" th:field="*{firstName}"/>
	                        </div>
	                        <div class="inputNumEtu input-field col s6">
	                            <label for="numeroEtudiant">Numero étudiant <span class="required">*</span></label>
	                            <input name="numeroEtudiant" class="" placeholder="Ex : 20172345" type="text" th:field="*{studentNumber}"/>
	                        </div>
	                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <a class="waves-effect waves-light btn col s5" th:href="@{/administrateur/gestionCompte.html}">Gestion des comptes</a>
                            <button id="submitButton" class="btn waves-effect waves-light col s5 offset-s2" type="submit">Créer compte</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div th:replace="/include/script :: script"></div>
    <footer>
        <div th:replace="/include/footer :: footer"></div>
    </footer>
    <script type="text/javascript" th:src="@{/js/creerCompte.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/formChecker.js}"></script>
</body>

</html>