<!DOCTYPE html>
<html >

<head>

    <div th:replace="/include/header :: header"></div>
    <title>Accueil</title>
    <meta charset="UTF-8" />

</head>

<body>
    <header>
        <div th:replace="/include/responsibleNav :: responsibleNav"></div>
    </header>
    
    <main>
    <br />
		<div class="container">
			<div class="row">
			
				<div class="card small col s7">
		            <div class="card-content">
		              
						<div id="tabCompte" class="col s12">
                	<p id="currentUser" th:attr="data-user=${#authentication.name}" style="display:none;"></p>
                    <table class="bordered striped highlight centered responsive-table">
                        <thead>
                            <tr>
                                <th>Type de compte</th>
                                <th>Adresse email</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Numero étudiant</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="accountDto : ${accountDtoList}">
                                <td th:attr="data-role=${accountDto.role}" th:text="${accountDto.role}">Administrateur</td>
                                <td th:attr="data-mail=${accountDto.mail}" th:text="${accountDto.mail}">admin@hotmail.fr</td>
                                <td th:attr="data-nom=${accountDto.lastName}" th:text="${accountDto.lastName}">Dalton</td>
                                <td th:attr="data-prenom=${accountDto.firstName}" th:text="${accountDto.firstName}">Joe</td>
                                <td th:attr="data-numero_etudiant=${accountDto.studentNumber}" th:text="${accountDto.studentNumber}">20172000</td>
                                <td><a href="#modalEditCompte"><i class="small material-icons editIcon">edit</i></a></td>
                                <td><i class="small material-icons deleteIcon" th:attr="data-mail=${accountDto.mail}">clear</i></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

		            </div>
		            <div class="card-action">
		              <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
		            </div>
    
		          </div>
			
		        <div class="card small col s4 offset-s1">
		            <div class="card-image">
		              <img src="/img/Card.png"/>
		              <span class="card-title">Profil</span>
		            </div>
		            <div class="card-content">
		              <p>I am a very simple card. I am good at containing small bits of information.
		              I am convenient because I require little markup to use effectively.</p>
		            </div>
		            <div class="card-action">
		              <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
		            </div>
		            
		            <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on.</p>
				    </div>
    
		          </div>
          	</div>
		</div>  
    </main>
    
    <div th:replace="/include/script :: script"></div>
    
    <footer>
        <div th:replace="/include/footer :: footer"></div>
    </footer>
    
</body>

</html>