<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Bougly Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{css/materialize.min.css}" media="screen,projection" />

    <link type="text/css" rel="stylesheet" th:href="@{css/login.css}" />

</head>

<body>
    <header></header>
    <main>
        <div class="container">
            <div class="row">
                <div class="card-panel col s12 m8 l6 offset-l3 offset-m2 design_formulaire">
                    <form method="post">
                        <div class="row">
                            <div class="input-field col s11">
                                <i class="material-icons prefix">perm_identity</i>
                                <input id="username" type="email" class="validate" name="username" />
                                <label for="email" class="active">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s11">
                                <i class="material-icons prefix">vpn_key</i>
                                <input id="password" type="password" name="password" class="validate" />
                                <label for="password" class="active">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light col s10 offset-s1" type="submit">Connexion</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <a href=""><b>Mot de passe oublié ?</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" th:src="@{js/materialize.min.js}" ></script>
</body>

</html>