<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<div th:replace="/include/header :: header"></div>
    <title>Bougly Login</title>
   	<meta charset="UTF-8"/>
   	<link type="text/css" rel="stylesheet" th:href="@{css/login.css}" />

</head>

<body>
    <header>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="card-panel col s12 m8 l6 offset-l3 offset-m2 design_formulaire">
                    <form method="post">
                        <div class="row">
                            <div class="input-field col s11">
                                <i class="material-icons prefix">perm_identity</i>
                                <input id="username" type="email" name="username" class="validate" />
                                <label for="email" class="active">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s11">
                                <i class="material-icons prefix">vpn_key</i>
                                <input id="password" type="password" name="password" class="validate" />
                                <label for="password" class="active">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light col s10 offset-s1" type="submit">Connexion</button>
                            </div>
                        </div>
                        <div th:if="${param.error}">Email ou mot de passe incorrecte</div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <a href=""><b>Mot de passe oublié ?</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>
    <fragment th:include="/include/script :: script"></fragment>
</body>

</html>