.btn-floating.halfway-fab {
    position: absolute;
    right: 24px;
    bottom: -20px;
}

span.card-title-panel{
	font-size: 24px;
    font-weight: 300;
}
    
/**
.btn-floating.profil-card {
    position: absolute;
    bottom: -20px;
}
**/