<meta charset="UTF-8" />

<div th:fragment="nav">
   
	   <nav class="#00897b teal darken-1" role="navigation">
	        <div class="nav-wrapper container">
	        	<div sec:authorize="hasAuthority('Teacher')">
	        		<div th:replace="/include/nav/teacher :: teacher"></div>
	        	</div>
	        	
	        	<div sec:authorize="hasAuthority('Responsible')">
	        		<div th:replace="/include/nav/responsible :: responsible"></div>
	        	</div>
	        	
	        	<div sec:authorize="hasAuthority('Administrator')">
	        		<div th:replace="/include/nav/administrator :: administrator"></div>
	        	</div>
	        	
	        	<div sec:authorize="hasAuthority('Student')">
	        		<div th:replace="/include/nav/student :: student"></div>
	        	</div>
	            
	            <a href="#" data-activates="nav-mobile" class="button-collapse white-text text-darken-2"><i class="material-icons">menu</i></a>
	        </div>
	    </nav>
	    
</div>