<!-- Modal Structure -->
<div th:fragment="modalEditCompte" id="modalEditCompte" class="modal">
    <div class="modal-content">
        <h4>Editer</h4>
        <form action="/" id="formEditCompte">
            <div class="row">
            	<input id="roleInput" type="hidden" name="role" value=""/>
                <div class="input-field col s6">
                	<p id="email"></p>
                	<input id="emailInput" type="hidden" name="email" value=""/>
                    <label class ="active" for="email" data-error="Erreur" data-success="Valide">Mail <span class="required"></span></label>
                </div>
                <div class="input-field col s6">
                    <input id="nom" name="nom" class="validate" placeholder="Ex : Doe" type="text" pattern="[\w'-]+" required="true" />
                    <label for="nom" data-error="Erreur" data-success="Valide">Nom <span class="required">*</span></label>
                </div>
                <div class="input-field col s6">
                    <input id="prenom" name="prenom" class="validate" placeholder="Ex : John" type="text" pattern="[\w'-]+" required="true" />
                    <label for="prenom" data-error="Erreur" data-success="Valide">Prenom <span class="required">*</span></label>
                </div>
                <div id="inputNumEtu" class="input-field col s6">
                    <input id="numeroEtudiant" name="numeroEtudiant" class="validate" placeholder="Ex : 20172345" type="text" pattern="[0-9]{8}" required="true" />
                    <label for="numeroEtudiant" data-error="Erreur" data-success="Valide">Numero étudiant <span class="required">*</span></label>
                </div>
            </div>
            <div class="modal-footer">
        		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
   				<button id="submitButton" class="waves-effect waves-green btn-flat" type="submit">Editer</button>
    		</div>
        </form>
    </div>
    
</div>