<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/include/header :: header"></div>
    <title>Erreur</title>
    <meta charset="UTF-8" />
</head>

<body>

    <div class="container">
        <h2 class="header center teal-text text-lighten-2">Accès refusé.</h2>
        <h4 class="header center teal-text text-lighten-2">Vous n'avez pas les droits nécessaires !</h4>
        <h2 class="header center teal-text text-lighten-2"><i class="material-icons large">error</i></h2>
    </div>
    <div th:replace="/include/script :: script"></div>
    <footer>
        <div th:replace="/include/footer :: footer"></div>
    </footer>
</body>

</html>