<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/include/header :: header"></div>
    <title>Mot de passe oublié</title>
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/login.css}" />

</head>

<body>

	<div th:replace="/include/preloader :: preloader"></div>
    <main id="content">
        <div class="container">
            <div class="row">
                <div class="card-panel col s12 m8 l6 offset-l3 offset-m2 design_formulaire">
                	<div class="row">
	                	<div class="col s12 center">
	                		<div class="collection center" style="border-color: red;">
                                <a class="collection-item red-text text">Cette addresse mail n'existe pas</a>
                            </div>
	                	
	                		<h4 class="teal-text text-lighten-1">Mot de passe oublié ?</h4>
	                		<p>Recevez votre mot de passe sur votre adresse mail</p>
	                	</div>
	                </div>
	                
                    <form th:action="@{/forgotPassword.html}" method="post">
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <input id="mail" name="mail" type="email" placeholder="Saisissez votre e-mail"/>
                                <label for="email" class="active">E-mail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light col s10 offset-s1" type="submit">Envoyer</button>
                            </div>
                            <div class="input-field col s12">
                                <a th:href="@{/login.html}" class="center waves-effect waves-light btn-flat col s10 offset-s1">Retour</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>
    <div th:replace="/include/script :: script"></div>

    <div th:replace="/include/preloader-script :: preloader-script"></div>
    <footer>
        <div th:replace="/include/footer :: footer"></div>
    </footer>
</body>

</html>