<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="/include/header :: header"></div>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" media="screen,projection" />

</head>

<body>

    <header>
        <div th:replace="/include/nav :: nav"></div>
    </header>


	<div th:replace="/include/preloader :: preloader"></div>
    <main id="content">
    <div class="container">
        <br />
        <h2 class="header center teal-text text-lighten-2">Mes notes</h2>
        <br />
    </div>

    <div class="container">
        <div class="section">
            <table class="striped highlight centered">
                <thead>
                    <tr>
                        <th data-field="id">Matière</th>
                        <th data-field="name">Contrôle continu</th>
                        <th data-field="price">Partiel</th>
                        <th data-field="price">Moyenne</th>
                        <th data-field="price">Résultat</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Statistiques</td>
                        <td>15</td>
                        <td>19</td>
                        <td>17</td>
                        <td>Admis</td>
                    </tr>
                    <tr>
                        <td>Droit</td>
                        <td>11</td>
                        <td>7</td>
                        <td>9</td>
                        <td>Ajournée</td>
                    </tr>
                    <tr>
                        <td>Anglais</td>
                        <td>-</td>
                        <td>6</td>
                        <td>6</td>
                        <td>Rattrapage</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <h5>Moyenne : 11</h5>
                </div>

                <div class="col s12 m4">
                    <h5>Résultat : Admis</h5>
                </div>
            </div>
        </div>
    </div>
	</main>
    <div th:replace="/include/script :: script"></div>
    <div th:replace="/include/preloader-script :: preloader-script"></div>
    
    <footer>
        <div th:replace="/include/footer :: footer"></div>
    </footer>

</body>

</html>